a {
    text-decoration: none;
    color: white;
}

a:hover, a:active{
    color: lightgray;
}

.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.movie-logo{
    height: 48px;
    margin: 0 4px 3px 0;
    vertical-align: middle;
}

/* mat-toolbar{
    border-radius: 3px;
} */

@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}