        <nav mat-tab-nav-bar [backgroundColor]="background">
            <mat-card class="cardListItem" fxLayout="column" fxLayoutAlign="space-between" *ngFor="let item of movies;">
                <mat-card-header>
                </mat-card-header>
                <img class="card-image" src="assets/images/movie-covers/{{item.img}}">
                <mat-card-content>
                  <p>
          
                    <mat-card-title> {{item.name}}</mat-card-title>
                  </p>
                  <div class="rate">
                    <mat-icon>star</mat-icon><span>{{item.rate}}</span>
                  </div>
                  <mat-divider></mat-divider>
                </mat-card-content>
                <mat-card-actions>
                  <mat-chip-list>
                    <mat-chip *ngFor="let genre of item.genres;" color="primary">{{genre}}</mat-chip>
                  </mat-chip-list>
                </mat-card-actions>
                <mat-card-footer>
                  <button class="detail-button"  mat-stroked-button routerLink="/movie/detail/{{item.id}}" color="primary">Details</button>
                </mat-card-footer>
              </mat-card>
          </nav>